// Create at least 5 color variables
$mint-green: #58e1c1;
$light-blue: #51ddfc;
$light-red: #e4757a;
$forest-green: #63cc82;
$baby-purple: #deb2ee;

// Layout
$max-width: 1400px;

// Breakpoints & Create one breakpoint from media query
$breakpoint-lg: 768px;
